@page
@model PrivacyModel

<h1>@ViewData["Title"]</h1>

<article>
   <aside>
      <h2>Why I choose this Program?</h2>
 <p>Previously, I studied Business/Commerce stream in senior secondary examinations. My aim was to setup a goal where I can grab knowledge of technology and then implement it through business for a better career. For that, I did Masters and Bachelors in Computer Science Applications. I worked on various pro bono projects of website building and  Android Application development during training. I am quite interested in this course because it offers ample of opportunities for practical experience.  To materialize this goal of mine, I planned to seek a course where I can take internet application and web development as field of study so that I can work towards my dream of starting business based on web application development.</p>
</aside>
 <p><font size="5" font color="#FF0000">INTERESTING FACT <strong>About Me</strong></font></strong></p>
      <ul type="square">
         <li>I am good Dancer</li>
         <li>I also do cooking</li>
<li>I am good Painter</li>
         
<li>I love to help the needy people</li>
<li><strong>I like to spend my morning by doing yoga with senior citizens</strong></li>
      </ul>
      <p> <font size="5" font color="#FF0000">Favourite Food</font></p>
      <ul >
         <li>I love to eat Pizza</li>
         <li>I love to eat  Italian food</li>
         <li>I love to eat Traditional food</li>
         <li>I love to eat Gurjanti food</li>
      </ul>

 <h2><b>Places where I visited</b></h2>
	 <p>Last year, i visited to Himachal Pradesh also known as <strong>Himalayas</strong>, 
	 it is a hilly place which is located in northside of india.People usually visit there
	 for enjoying snowfalls and for doing different types of activities such as paragliding, 
	 Rock climbing,boatings and many more.I also visited at different malls for shopping, groceries,for another households apart from this I also went for some religious places, one of the them is located near to my home where I like to go daily for paying obeisance in front of Shiva Temple.</p>


